<!-- widget-template.ejs -->
<div class="widget-container" id="widget-<%= id %>">
  <div class="widget-header">Widget #<%= id %></div>
  <div class="widget-body">
    <p>Views: <%= viewCount %></p>
    <p>Clicks: <%= clickCount %></p>
    <!-- Additional widget content here -->
  </div>
</div>
